<html>
<body>
<div class="container">
<form (ngSubmit)="editBook()" style="padding-top: 20px">
  <div><h3>Trang sửa đối tượng</h3></div>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      [(ngModel)]="book.title"
      name="title"
      type="email" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input
      [(ngModel)]="book.author"
      name="author"
      type="text" class="form-control" id="author" placeholder="Enter author">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      [(ngModel)]="book.description"
      name="description"
      type="text" class="form-control" id="description" placeholder="Enter description">
    </textarea>
  </div>
  <div style="float: left; width: 210px">
    <button type="submit" class="btn btn-primary" style="width: 200px">Cập nhật</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" [routerLink]="''">Thoát</button>
  </div>
</form>
</div>
</body>
</html>
