body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTThkO20lx6x0a887tW6OnbqyveZcyEU6tsmg&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}
table{
  border: solid 2px;
  text-align: center;
}
td,tr,th{
  border: solid 1.5px;
  border-color: black;
}
